.timeline-wrapper {
    background-color: #FFFBEB;
    width: min-content;
    // margin-left: 30rem;
    // position: relative;
    // -webkit-box-shadow: -4px 0px 6px -1px rgba(0,0,0,0.39); 
    // box-shadow: -4px 0px 6px -1px rgba(0,0,0,0.39);
}

.date-modal {
    background-color: whitesmoke;
    height: 20rem;
    width: 24rem;
    margin: 0 auto;
    border: 1px solid black;
}

.date-range {
    min-width: 15rem;
    border: 1px solid black;
    min-height: 4rem;
    // background-color: yellow;
}

.context-rows-wrapper {
    width:min-content;
    height: 36rem;
    overflow: auto;
    overflow-x: hidden;
    background-color: lightgrey;
}

.arrows {
    display: flex;
    font-size: 2rem;
    justify-content: space-around;
    cursor: pointer;
}

.arrow:hover {
    color: gray;
}