:root {
    --bg: #242526;
    --bg-accent: #484a4d;
    --text-color: #dadce1;
    --nav-size: 60px;
    --border: 1px solid #474a4d;
    --border-radius: 8px;
    --speed: 500ms;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    color: var(--text-color);
    text-decoration: none;
}


.modal {
    position: absolute;
    width: 100vw;
    top: 0;
    left: 0;
    height: 100vh;
    background-color: rgba(0,0,0,25%);
    overflow: hidden;
    font-size: 1.5rem;
    animation: fadeIn 250ms;
    z-index: 9999;
    // display: block;
}

.inner {
    background-color: var(--bg);
    border: var(--border);
    border-radius: var(--border-radius);
    width: 25rem;
    height: 20rem;
    opacity: 100%;
    margin-left: auto;
    margin-right: auto;
    // margin: auto;
    // margin-top: 15%;
    padding-top: 1rem;
    margin-top: 15rem;
}

.menu-item {
    height: 50px;
    display: flex;
    align-items: center;
    border-radius: var(--border-radius);
    transition: background var(--speed);
    padding: 0.5rem;
}

.menu-item:hover {
    background-color: #525357;

}

.icon-right {
    margin-left: auto;
}

@keyframes fadeIn {
    0% {
      opacity: 0;
      // top: -100px;
    }
    100% {
      opacity: 1;
      // top: 0px;
    }
  }

