:root {
    --item-width: 2.3rem;
    --bg-accent: #484a4d;
}

.context-bar-wrapper {
    display: flex;
    color: white;
    border: 1px solid gray;
    width: 72vw;
    overflow-x: hidden;
    .context-name {
        padding-top: 1rem;
        padding-left: 1rem;
        min-width: 15rem;
        // height: 5rem;
        background-color: darkslategray;
        font-size: 1.5rem;
        cursor: pointer;
        height: 4rem;
    }
}


.item-context-wrapper {
    display: flex;
    flex-direction: column;
    width: var(--item-width);
    height: 100%;
    // width:fit-content;i
    border-right: 1px solid gray;
    background-color: darkred;
    cursor: pointer;
    transition: background 250ms;
}

.item-name {
    // position: relative;
    font-size: 1.5rem;
    margin: auto;
}


.item-context-wrapper:hover {
    background-color: red;
}

hr {
    border-bottom: 4px solid black;
    width: var(--item-width);
    margin-top: 2rem;
}

.nodata {
    border-right: 1px solid gray;
    border-left: 1px solid gray;
    width: var(--item-width);
    transition: background 250ms;
    // position: relative;
}

.nodata:hover {
    background-color: #aaa;
    cursor: pointer;
}

.edit-block {
    position: absolute;
    // left: -1.5rem;
    // top: -1.23rem;
    margin: 0.25rem;
    background-color: lightgrey;
    width: 20px;
    height: 20px;
    text-align: center;
    border-radius: 10%;
    color: var(--bg);
    transition: background 150ms;
}
.edit-block:hover {
    background-color: gray;
}


.modal-info {
    padding-left: 2rem;
}